BLUETOOTH_DEVICE_NAME        MY_BLUETOOTH_DEVICE
BLUETOOTH_DEVICE_ADDRESS     00:1A:7D:DA:71:13
BLUETOOTH_SECURITY_MODE      1
BLUETOOTH_AUTHENTICATION     TRUE
BLUETOOTH_CONNECTION_TIMEOUT 30
BLUETOOTH_MAX_CONNECTIONS    7
BLUETOOTH_UUID               00001101-0000-1000-8000-00805F9B34FB
BLUETOOTH_TX_POWER_LEVEL     4
BLUETOOTH_SCAN_MODE          1
BLUETOOTH_DOMAIN_GATEWAY     CN
BLUETOOTH_DISCOVERABLE       TRUE
